
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url('../img/img.jpeg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    background-attachment: fixed;
    
    
    
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 150px;
    
   
}

.brand {
    margin-bottom: 50px; 
}
.brand p1{
    font-size: 35px;
    font-weight: 500;
    color: aliceblue; 
}


.brand p2 {
    font-size: 21px;
    font-weight: 350;
    color: aliceblue; 
    
    
}
.form-box{
    padding-top: 20px;
    overflow: hidden;
}


.welcome {
    color: aliceblue;
    font-weight: 300;
    font-size: 18px; 
    line-height: 1rem; 
   
    
}

        
        *{
            box-sizing: border-box;
        }
        
        
        #form{
            width: 70%;
            margin-left: 30px;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-size: 32px;
            
        }
        
        input[type=text] {
            width: 60%;
            padding: 15px;
            border: none;
            font-size: 18px;
            font-family: sans-serif;
            border-radius: 5px 0 0 5px;
            background-color: rgba(255,255,255,.5); 
        }
        
        input[type=button] {
            padding: 15px;
            border:none;
            font-size: 18px;
            font-family: 'Open Sans', sans-serif;
            background: #af3838;
            color: white;
            border-radius: 0 5px 5px 0;
            cursor:pointer;
            
        }

/*https://stackoverflow.com/questions/28452235/make-a-nav-bar-stick-to-the-top-when-scrolling-with-css*/
.form-box {
    position: sticky;
    top: 0;
    z-index: 100;}
/*https://stackoverflow.com/questions/28452235/make-a-nav-bar-stick-to-the-top-when-scrolling-with-css*/


#result {
    margin-top: 80px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-gap: 10px; 
    grid-row-gap: 18px; 
    text-decoration: none;
    
}
        
        
.recipe_box {
    background: white; 
    border-radius: 8px 8px 8px 8px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    width: 200px;
    height: 300px; 
    
    
    box-shadow: 0 2px 10px #383434;
    transition: all .5s;
    
}   


.recipe_box:hover{
  box-shadow: 0 2px 13px black;
  transition: all .3s;
}

.recipe_box:hover {
  transform: scale(1.07);
  transition: all .2s;
}


.image{
    background-size: cover; 
    height: 60%; 
    border-radius: 8px 8px 0px 0px;  
}




.title{
     text-decoration: none;
     font-size: 18px; 
     color: #383434;
     font-weight: 500;
     text-align: center;
    vertical-align: middle;
     
}
.title:hover {
  color: #af3838; 
  transition: all .3s;
}



a:link {
    text-decoration: none;
    color: #383434;
}


       